<html>
	<head>
		<title>BOT Report</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<style type="text/css">
			.table-listing{
			    padding-left: 50px;
			}
		</style>
	</head>

	<body>
		<div class="main">
			<div class="container">
				<div class="bots">
					{% for bot in bots %}
						<div class="bot">
							<div class="bot_img" style="margin-top: 10px;">
								<h4>{{ bot['name'] }}</h4>
								<img src="{{ bot['avatar_url'] }}" style="width: 75px; height: 75px;">
							</div>

							<div class="bot_buttons" style="margin-top: 10px;">
								<a href="/bot/cart/info/{{ bot.get('id') }}" class="btn btn-primary">Cart info</a>
							</div>


							<div class="bot_buttons" style="margin-top: 10px;">
								<a href="/bot/set/state/{{ bot.get('id') }}/1" class="btn btn-default">Standing By</a>
								<a href="/bot/set/state/{{ bot.get('id') }}/2" class="btn btn-default">Pushing Items to Cart</a>
								<a href="/bot/set/state/{{ bot.get('id') }}/3" class="btn btn-default">Purchasing Cart</a>
								<a href="/bot/set/state/{{ bot.get('id') }}/4" class="btn btn-default">Waiting for Sufficient Funds</a>
								<a href="/bot/set/state/{{ bot.get('id') }}/5" class="btn btn-default">Blocked for Too Many Purchases</a>
								<a href="/bot/set/state/{{ bot.get('id') }}/6" class="btn btn-default">Blocked for Unknown Reason</a>
							</div>

							<div class="bot_buttons" style="margin-top: 10px">
								<form action="/bot/cart/checkout/" method="POST">
									<label for="#">Checkout BOT {{ bot.get('name') }}'s Cart</label>

									<input type="hidden" name="bot_id" value="{{ bot['id'] }}">

									<div class="form-group">
										<input type="text" class="form-control" placeholder="Bot's Country code" name="country_code">
									</div>

									<div class="form-group">
										<input type="text" class="form-control" placeholder="Giftee account id" name="giftee_account_id">
									</div>

									<div class="form-group">
										<input type="submit" class="form-control btn btn-danger" value="Checkout BOT #{{ bot['name'] }}'s Cart">
									</div>
								</form>
							</div>

							<table cellspacing="0" cellpadding="0" class="table table-bordered" style="margin-top: 20px; font-size: 15px;">
								<tbody>
									{% for key in bot.keys() %}
										<tr>
											<td><strong>{{ key.replace('_', ' ') }}</strong></td>

											<td class="table-listing">
												{% if key == 'current_state' %}
													{% if bot[key] == 1 %}
														Standing By
													{% elif bot[key] == 2 %}
														Pushing Items to Cart
													{% elif bot[key] == 3 %}
														Purchasing Cart
													{% elif bot[key] == 4 %}
														Waiting for Sufficient Funds
													{% elif bot[key] == 5 %}
														Blocked for Too many Purchases
													{% elif bot[key] == 6 %}
														Blocked for unknown reason
													{% endif %}
												{% else %}
													{{ bot[key] }}
												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% endfor %}

					<div class="bot_buttons" style="margin-bottom: 25px; margin-top: 10px;">
						<a href="/bots/sync/" class="btn btn-warning">Sync all bots</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
